/* global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: lightblue;
}

.active {
  display: block;
}

/* /global */

/* header */

header {
  height: 100px;
  background-color: lightcoral;
}

header h1 {
  text-align: center;
  line-height: 100px;
}

/* /header */

/* main */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 100px);
  background-color: lightgreen;
}

main .container-slider {
  display: flex;
  width: 80%;
  height: 70%;
  background-color: lightsalmon;
}
main .container-slider .container-angle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
  cursor: pointer;
}

main .container-slider .container-images {
  width: 80%;
  height: 100%;
  position: relative;
}
main .container-slider .container-images img {
  width: 100%;
  height: 100%;
}

main .container-slider .container-images .container-circle {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  border-radius: 999px;
  background-color: lightsalmon;
}

main .container-slider .container-images .container-circle .vg-circle {
  cursor: pointer;
}
/* /main */
